<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="../iron-icons/device-icons.html">

<dom-module id="hdd-provider">
  <template>
    <style>
      :host { display: block;}
      #selected {cursor: pointer;list-style: none;border-bottom:1px solid lightgray;padding: 10px;margin:5px;color: #888;}
      #selected:hover { background: rgba(220,220,220, 0.4); color:#007bff;}
      .btn-collapsible:hover { color:#0056b3;}
      .btn-collapsible {background: transparent;width: 100%;border: none;border-bottom:1px solid lightgrey;
        color: #007bff;padding: 20px;cursor: pointer;outline: none;text-align: initial;font-size:13pt;}
      .close {float:right;font-size:1rem;font-weight:500;line-height:0.5;color:#000;
       text-shadow: 0 1px 0 #fff;opacity: .5;cursor: pointer;}
      #show-selected { padding: 10px; margin: 5px; color: #888; font-weight: bold;}
      .collapse-content { border: 1px solid #dedede;}
    </style>

    <div>
      <button id="btn" on-click="toggle" class="btn-collapsible">
        <span><iron-icon icon="device:storage"></iron-icon></span> [[msgBtn]]
      </button>
      <iron-collapse id="collapse">
        <div class="collapse-content">
          <iron-ajax 
            auto 
            url="https://demo6292426.mockable.io/hddList" 
            last-response="{{hdds}}"></iron-ajax>
          <template is="dom-repeat" items="[[hdds.data]]">
            <li id='selected' on-click="selectItem">Disco Duro <b>{{item.provider}}</b> de {{item.size}}GB ({{item.speed}})</li>
          </template>
        </div>
      </iron-collapse>

      <template is="dom-if" if="[[size]]">
        <div id='show-selected'>
          Disco duro seleccionado: {{provider}} de {{size}}GB ({{speed}})
          <span on-click='reset' class="close"> X </span>
        </div>
      </template>
    </div>
  </template>

  <script>
    /**
     * `hdd-provider`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HddProvider extends Polymer.Element {

      static get is() { return 'hdd-provider'; }
      
      static get properties() {
        return {
          hdds: {
            type: Array,
            value: []
          },
          size: {//esta en el padre (pc-component), como propiedad: size="{{sizeHdd}}"
            type: Number,
            notify: true
          },
          speed: {//esta en el padre (pc-component), como propiedad: speed="{{speedHdd}}"
            type: String,
            notify: true
          },
          provider: {//esta en el padre (pc-component), como propiedad: provider="{{providerHdd}}"
            type: String,
            notify: true
          },
          isCollapsible: {
            type: Boolean,
            value: false
          },
          isOpenCollapsible: { type: Boolean, value: false, notify: true },
          msgBtn: String
        };
      }

      selectItem(e) {
        this.size = parseInt(e.model.item.size.replace('GB', ''));
        this.speed = e.model.item.speed;
        this.provider = e.model.item.provider;
        this.isOpenCollapsible = false;
        this.toggle();
      }

      toggle() {
        this.$.collapse.toggle();
        this.$.btn.setAttribute('aria-expanded', this.$.collapse.opened);
        this.isCollapsible = !this.isCollapsible;
        if (!this.isOpenCollapsible) {
          if (this.isCollapsible && !this.size) {
            this.isOpenCollapsible = true;
          }
        }
      }

      static get observers() {
        return ['_viewChanges(isCollapsible, size)'];
      }

      _viewChanges(isCollapsible, size) {
        if (isCollapsible) {
          this.msgBtn = 'Ocultar HDDs';
        } else if (size) {
          this.msgBtn = "Volver a seleccionar";
        } else {
          this.msgBtn = 'Mostrar HDDs';
        }
      }

      reset() {
        this.size = undefined;
        this.speed = undefined;
        this.provider = undefined;
      }
    }
    window.customElements.define(HddProvider.is, HddProvider);
  </script>
</dom-module>
